// ==========================================================================
// CAROUSEL
// ==========================================================================

.carousel {
  position: relative;
  overflow: hidden;
  border-radius: border-radius('lg');
}