// ==========================================================================
// MODALS
// ==========================================================================

.modal {
  &__overlay {
    @include fixed($top: 0, $left: 0);
    @include size(100vw, 100vh);
    background-color: var(--bg-overlay);
    z-index: z-index('modal');
    @include flex-center;
  }
  
  &__content {
    @include card;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
  }
}