// ==========================================================================
// RESET
// ==========================================================================

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: $font-family-sans;
  font-size: font-size('base');
  font-weight: font-weight('normal');
  line-height: map-get($line-heights, 'normal');
  color: var(--text-primary);
  background-color: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin: spacing(4) 0;
  color: inherit;
  border: 0;
  border-top: 1px solid var(--border-color);
  opacity: 0.25;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: spacing(2);
  font-weight: font-weight('semibold');
  line-height: map-get($line-heights, 'tight');
  color: var(--text-primary);
}

p {
  margin-top: 0;
  margin-bottom: spacing(4);
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: spacing(4);
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: spacing(8);
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: spacing(4);
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: font-weight('semibold');
}

dd {
  margin-bottom: spacing(2);
  margin-left: 0;
}

blockquote {
  margin: 0 0 spacing(4);
}

b,
strong {
  font-weight: font-weight('bold');
}

small {
  font-size: font-size('sm');
}

mark {
  padding: spacing(1) spacing(2);
  background-color: var(--warning-light);
  border-radius: border-radius('sm');
}

sub,
sup {
  position: relative;
  font-size: font-size('xs');
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: var(--primary-600);
  text-decoration: underline;
  
  &:hover {
    color: var(--primary-700);
  }
  
  &:not([href]):not([class]),
  &:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
}

pre,
code,
kbd,
samp {
  font-family: $font-family-mono;
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: spacing(4);
  overflow: auto;
  font-size: font-size('sm');
  color: var(--text-primary);
  
  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: font-size('sm');
  color: var(--primary-600);
  word-wrap: break-word;
  
  a > & {
    color: inherit;
  }
}

kbd {
  padding: spacing(1) spacing(2);
  font-size: font-size('sm');
  color: var(--text-inverse);
  background-color: var(--neutral-900);
  border-radius: border-radius('sm');
  
  kbd {
    padding: 0;
    font-size: 1em;
  }
}

figure {
  margin: 0 0 spacing(4);
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: spacing(3);
  padding-bottom: spacing(3);
  color: var(--text-muted);
  text-align: left;
}

th {
  font-weight: font-weight('semibold');
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
  
  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
  
  &:disabled {
    opacity: 1;
  }
}

[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="time"]):not([type="week"]) {
  &::-webkit-calendar-picker-indicator {
    display: none !important;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  
  &:not(:disabled) {
    cursor: pointer;
  }
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: spacing(2);
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  
  + * {
    clear: left;
  }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}