// ==========================================================================
// PRICES PAGE
// ==========================================================================

.prices {
  &__header {
    text-align: center;
    @include padding(12, 0, 8, 0);
  }
  
  &__title {
    @include font-size('4xl');
    @include font-weight('bold');
    margin-bottom: spacing(4);
  }
  
  &__subtitle {
    @include font-size('lg');
    color: var(--text-secondary);
    margin-bottom: spacing(12);
  }
  
  &__grid {
    @include grid-responsive(1, 2, 3);
    @include padding(0, 0, 16, 0);
  }
}