// ==========================================================================
// GRID SYSTEM
// ==========================================================================

.grid {
  @include grid(12);
  
  &--responsive {
    @include grid-responsive();
  }
}